ul.responsive-menu {
    margin: 15px 0!important;
    padding: 0;
}

@supports (display: grid) {
    ul.responsive-menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 8px;
    }
}

@supports not (display: grid) {
    ul.responsive-menu {
        display: flex;
        flex-wrap: wrap;
        margin: 15px -4px!important;
    }
    ul.responsive-menu .responsive-menu__item {
        width: 25%;
        padding: 0 4px;
        height: 100%;
        list-style: none!important;
    }
}

.responsive-menu .responsive-menu__item {
    margin: 0;
    height: 100%;
    list-style: none!important;
}

.responsive-menu .responsive-menu__item .responsive-menu__icon {
    font-size: 20px;
    color: $icon;
    transition: all 0.3s ease;
}

.responsive-menu .responsive-menu__item .responsive-menu__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    background-color: $bg;
    transition: all 0.3s ease;
    text-decoration: none;
    height: calc(100% - 40px);
}

.responsive-menu .responsive-menu__item .responsive-menu__link:hover {
    background-color: $hover;
}

.responsive-menu .responsive-menu__item .responsive-menu__link:hover .responsive-menu__title {
    color: #fff;
}

.responsive-menu .responsive-menu__item .responsive-menu__link:hover .responsive-menu__icon {
    color: #fff;
}

.responsive-menu__link .responsive-menu__img {
    width: 25px;
    flex-shrink: 0;
    height: auto;
}

.responsive-menu__link .responsive-menu__title {
    display: block;
    margin: 5px 0 0 0;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #111;
    transition: all 0.3s ease;
}

@media(max-width: 768px) {
    @supports (display: grid) {
        ul.responsive-menu {
            grid-template-columns: 1fr 1fr;
        }
    }
    @supports not (display: grid) {
        .responsive-menu .responsive-menu__item {
            width: 50%;
        }
    }
}

@media(max-width: 576px) {
    @supports (display: grid) {
        ul.responsive-menu {
            grid-template-columns: 1fr;
            grid-gap: 5px;
        }
    }
    @supports not (display: grid) {
        .responsive-menu .responsive-menu__item {
            width: 100%;
        }
    }
    .responsive-menu .responsive-menu__item .responsive-menu__link {
        flex-direction: row;
        justify-content: start;
        align-items: flex-start;
        padding: 15px;
        height: auto;
    }
    .responsive-menu__link .responsive-menu__title {
        margin: 0 0 0 20px;
        text-align: left;
    }
}